.expense-item {
  background-color: #DA9FF9;
  border: 1px solid #f8ede3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  margin: 0.5rem 1.25rem;
  width: 95%;
  color: #f8ede3;
  overflow: hidden;
}

@media only screen and (max-width: 400px) {
  .expense-item {
    width: 95%;
    height: 80px;
  }
  .expense-item__price{
    width: 30%;
  }
}

.expense-item__price {
  background-color: #98ACF8;
  border: 2px solid #BEDCFA;
  border-radius: 10px;
  text-align: center;
  width: 25%;
}  

.expense-item__price--text {
  color: #f8ede3;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0;
}

.expense-item__title {
  width: 50%;
}

.expense-item__title--text {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
}

.expenses__total {
  font-size: larger;
}