.expenses {
  height: 50%;
  width: 60%;
  margin: 0;
  background-color: #798777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .expenses {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .expenses {
    width: 95%;
  }
}
