.expense-item {
  background-color: #bdd2b6;
  border: 1px solid #f8ede3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6.25rem;
  margin: 0.2rem 1.25rem;
  width: 90%;
}

@media only screen and (max-width: 400px) {
  .expense-item {
    width: 95%;
  }
}

.expense-item__price {
  background-color: #798777;
  border: 2px solid #f8ede3;
  border-radius: 10px;
  text-align: center;
  width: 25%;
}  

.expense-item__price--text {
  color: #f8ede3;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

.expense-item__title {
  width: 50%;
}
