@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expense-item {
  animation: fade-in 2s;
  background-color: #da9ff9;
  border: 1px solid #f8ede3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6rem;
  margin: 0.5rem 1.25rem;
  width: 95%;
  color: #f8ede3;
  overflow: hidden;
}

.expense-item__price {
  background-color: #98acf8;
  border: 2px solid #bedcfa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .expense-item {
    height: 80px;
    width: 100%;
  }
  .expense-item__price {
    width: 40%;
  }
}

.expense-item__price--text {
  color: #f8ede3;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0;
}

.expense-item__title {
  width: 50%;
  margin: 0 1rem;
}

.expense-item__title--text {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
}

.expenses__total {
  font-size: larger;
}

@media only screen and (max-width: 400px) {
  .expense-item__price {
    width: 40%;
    height: 120%;
  }

  .expense-item__title--text {
    font-size: large;
  }

  .expense-item__price--text {
    font-size: large;
  }
}
