.new-expense {
  background-color: #bdd2b6;
  height: 50%;
  width: 65%;
  margin: 2rem;
}

.new-expense__inputs {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.new-expense__input {
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
}

.new-expense__input--type {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
}

.new-expense__input--input {
  border: 1px solid #798777;
  border-radius: 5px;
  box-shadow: 0 2px 4px #798777;
  height: 2.2rem;
}

.new-expense__actions {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.new-expense__actions--button {
  background-color: #798777;
  border-radius: 5px;
  border: 1px solid #bdd2b6;
  box-shadow: 0 1px 2px #798777;
  color: #f8ede3;
  height: 4rem;
  font-size: large;
  margin: 1rem;
  padding: 10px;
  width: 10rem;
}
